* {
-moz-transform-origin: 0 0;
margin: auto;
padding: auto;
}
form {
	background: white;
	margin: auto;
    
    color: black;
-moz-transform-origin: 0 0;
}

input{
    float: right;
}

select {
    float: right;
    margin: auto 0.2rem auto 0.7rem;
}

label {
    float: left;
}

legend {
    border-style: groove;
    border-width: 2px;
    border-radius: 3px;
    text-align: left;
align-items: left;
    padding: 0.2rem;
}

p {
    text-decoration: none;
    color: white;
}

