html {
    margin: auto;
-moz-transform-origin: 0 0;

}
img {
   width: 90px;
   float: right;
   margin: 0.15rem auto;
}

h3 {

border-style: groove;
padding: 1rem;
float: left;
border-radius: 3px;
margin: auto 0.5rem auto 0.5rem;
background: #eee;

}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  .wrapper {
   align-items: center;
   margin: 1rem;
  }
  button {
padding: 1rem;
width: 48vw;
align-items: center;
text-align: center;
}

}
button:hover {
    background: #ddd;
}

button {
    padding: 1rem;
    margin: 5rem 0.1rem;
border-radius: 3px;
width: 12vw;
align-items: center;
text-align: center;
height: 6vh
}

