.wrapper {
	margin: 0;
	padding: 0;
	background: #f9d79d;
}

.App {
  text-align: center;
}

#next, #reset {
display: none;
color: black;
align-items: center;
justify-content: center;
}

.App-header {
  background-color: white;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

